body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #1d3557;
    color: #f1faee;
}

header {
    display: grid;
    width: 100%;
    justify-content: center;
    margin: 10px;
}

h1 {
    font-size: 2.5rem;
}

main {
    /* display: grid; */
    background-color: #2d688d;
    width: 80%;
    height: 80%;
    align-content: center;
    justify-content: center;
    /* grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    grid-template-areas: "intro intro"
                         "form-1 blurb"
                         "form-2 blurb"
                         "form-3 blurb"
                         "footer footer"; */
    /* margin: 10px auto; */
    /* padding: 8px 18px; */
    gap: 10px;
    /* border: 3px solid #a8dadc; */
    /* border-radius: 20px; */
}

#intro {
    grid-area: intro;
    /* border: 1px solid black; */
    justify-self: left;
}

/* #forms-left form {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    height: 300px;
} */

/* #forms-left form div:nth-of-type(1) {
    grid-area: form-1;
    background-color: red;
}

#forms-left form div:nth-of-type(2) {
    grid-area: form-2;
    background-color: green;
}

#forms-left form div:nth-of-type(3) {
    grid-area: form-3;
    background-color: orange;
} */

#blurb {
    align-self: start;
}

#forms h2 {
    padding-bottom: 5px;
    margin-bottom: 10px;   
    border-bottom: 2px solid grey;
}

.color-1 {
    background-color: #0C1446;
    color: white;
}

.color-2 {
    background-color: #87ACA3;
    color: black;
}

.color-3 {
    background-color: #2B7C85;
    color: white;
}

.color-4 {
    background-color: #175873;
    color: white;
}

.color-5 {
    background-color: #5885AF;
    color: white;
}

.color-6 {
    background-color: #C3E0E5;
    color: black;
}

.info {
    height: 20px;
    width: 20px;
}

[data-tooltip] {
    position: relative;
    cursor: default;
}

[data-tooltip]::before,
[data-tooltip]::after {
    --scale: 0;
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    width: max-content;
    /* max-width: 100%; */
    content: attr(data-tooltip);
    background: black;
    transform: translateX(-50%) translateY(100%) scale(var(--scale));
    transform-origin: bottom center;
    transition: 50ms transform;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
}

[data-tooltip]:hover::before {
    --scale: 1;
}

input[type="submit"] {
    height: 40px;
    width: 50%;
    border-radius: 10px;
    margin: 10px;
    background-color: lightseagreen;
    /* border-shadow: 10px; */
}